extends base

block contenido
	div.container
		div.row
			div.card.col.s10.push-s1
				div.card-content
					table
						thead
							tr
								th ID
								th Nombre
								th Descripción
								th Características
								th Acción
						tbody
							each registro in registros
								tr
									td 
										a(href=`/multicines/editar/${registro._id}`) #{registro._id}
									td #{registro.nombre}
									td #{registro.descripcion}
									td #{registro.caracteristicas.join(" - ")}
									td
										a.btn.red(href=`/multicines/eliminar/${registro._id}`) Eliminar